<% @end_time %>

<p> Now your result </p>

<%= @result %>

<p><%= link_to "Play again", game_path %></p>


<!-- <p>Your word: <%= @word %> </p>
<p>Time Taken to answer: <%= @time %></p>
<p>Your score: #{result[:score]}</p>
<p>Message: #{result[:message]}</p>

<p>*****************************************************</p> -->

